<h2><a href="type/<%=type.id%>/items"><%= type.name %></a></h2>
<p><%= type.description %></p>
<td><%= link_to 'Edit', edit_type_path(type) %></td>
<td><%= link_to 'Destroy', type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
