<%= stylesheet_link_tag "items_by_type" %>

<h1>Creaciones en <%= @type.name %></h1>

    <% @items.each do |item| %>
      <a class="item-link" href="/items/<%=item[:item].id%>">
        <div class="item-box" style="background-image:url(<%= item[:principal_image].location %>);">
          <%= item[:item].name %>
          <%= item[:item].description %>
        </div>
      </a>
    <% end %>

<br>
