<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pakun</title>

    <%= stylesheet_link_tag "font-awesome" %>

    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

    
    <%= stylesheet_link_tag "landing-page" %>
    <%= stylesheet_link_tag "landing" %>

</head>

<body>
<!--
<footer><%= link_to 'Administrar', new_user_session_path %>
<%= link_to 'Fin', destroy_user_session_path, :method => :delete %></footer>
-->
<div class="intro-message titulo-landing" >
  <h1>P &middot; a &middot; K &middot; u &middot; N</h1>
  <h3>&middot; Arte &middot; De &middot; Pie &middot;</h3>
  <hr class="intro-divider">
        <ul class="list-inline intro-social-buttons">
            <li><a href="https://www.facebook.com/PaKuNArteDePie" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name"></span></a>
            </li>
            <li><a href="/index" class="btn btn-default btn-lg">Inicio<span class="network-name"></span></a>
            </li>
        </ul>
    </div>
</div>
    <div class="intro-header">

        <!-- /.container -->
    </div>
    <!-- /.intro-header -->
    <footer>
        <div class="container">
            <div id="footer-landing" class="col-lg-12">
                <ul class="list-inline">
                    <li><a href="/index">Inicio</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li><a href="/about">Acerca</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li><a href="/contact">Contacto</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">Todos los  Derechos Reservados &copy;Pakun 2014.</p>
            </div>
        </div>
    </footer>

</body>
</html>
