<!DOCTYPE html>
<html>
<head>
  <title>Pakun</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= yield :javascript_includes %>
</head>
<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"><a href="/index">Inicio</a>
                </li>
                <li><a href="/types">Tipos</a>
                </li>
                <% @types.each do |type| %>
                <li><a href=<%= "/type/#{type.id}/items" %>><%= type.name %></a>
                </li>
                <% end %>
                <li><a href="/contact">Contacto</a>
                </li>
                <li><a href="/about">Acerca</a>
                </li>
            </ul>
        </div>
        <div class="container-fluid">
          <%= yield %>
      </div>
    </div>
</body>
</html>
